

<div class="title">
  <h1>Welcome to the HRCWA</h1>
</div>

<div class="home">
  <table>
    <tr>
      <td><div class="home">
        <p1>Welcome to the Hacker Report Chat Webapp, which logs the reports of the various HRC chats in the McPvP network.
        If you want to join, check this <a href="http://forum.minecraftpvp.com/t/the-hacker-report-chat-apply-here/75905">forum post</a> for information on how to apply for it.
        The HRCWA is run by ma56nin9 (see contact information), not McPvP as of now.</p1></td>
      <td><div class="times">
        <ul>
          <li><a href="/all">All time records</a></li>
          <li><a href="/month">Last month records</a></li>
          <li><a href="/week">This week records</a></li>
          <li><a href="/day">Today's records</a></li>
        </ul>
      </div></td>
    </tr>
  </table>  
</div>